
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  text-align: center;
  margin-top: 50px;
  font-family: 'Arial', sans-serif;
}

h1 {
  color: #ff6347;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

h2 {
  margin-top: 20px;
  color: #333;
  font-size: 1.5em;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes popIn {
  from { transform: scale(0.5); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.container {
  text-align: center;
  margin-top: 50px;
  font-family: 'Arial', sans-serif;
}

.title {
  color: #ff6347;
  font-size: 2.5em;
  margin-bottom: 20px;
  animation: fadeIn 1s ease-in-out;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  animation: popIn 0.5s ease-in-out;
}

.button:hover {
  background-color: #0056b3;
}

.selectedFood {
  margin-top: 20px;
  color: #333;
  font-size: 1.5em;
  animation: fadeIn 1s ease-in-out;
}

.food-map{
  width:60%;
  height:600px;
}